<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('租户信息列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>系统昵称：</label>
                                <input type="text" name="tenantNickname"/>
                            </li>
                            <li>
                                <label>企业邮箱：</label>
                                <input type="text" name="email"/>
                            </li>
                            <li>
                                <label>手机号码：</label>
                                <input type="text" name="phonenumber"/>
                            </li>
                            <li>
                                <label>企业状态：</label>
                                <select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:tenant:add">
                    <i class="fa fa-plus"></i> 新增
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:tenant:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <!--<a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:tenant:remove">-->
                    <!--<i class="fa fa-remove"></i> 删除-->
                <!--</a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:tenant:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:tenant:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:tenant:remove')}]];
        var statusDatas = [[${@dict.getType('sys_common_status')}]];
        var prefix = ctx + "system/tenant";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "企业信息",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'tenantCode', 
                    title: '企业标识'
                },
                {
                    field: 'tenantName',
                    title: '企业名称'
                },
                {
                    field: 'tenantNickname', 
                    title: '系统昵称'
                },
                {
                    field: 'email', 
                    title: '租户邮箱'
                },
                {
                    field: 'phonenumber', 
                    title: '手机号码'
                },
                {
                    field : 'titlename',
                    title: '头logo',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a href="'+ctx+row.titlepath+'">' + value + '</a> ');
                        return actions.join('');
                    }
                },
                {
                    field : 'bgname',
                    title: '背景',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a href="'+ctx+row.bgpath+'">' + value + '</a> ');
                        return actions.join('');
                    }
                },
                {
                    field : 'tenantTerm',
                    title: '有效期限(天)',
                    formatter: function(value, row, index) {
                        return value=="0"?"永久":value;
                    }
                },
                {
                    field: 'status', 
                    title: '租户状态',
                    formatter: function (value, row, index) {
                        if (row.status == 1) {
                            return '<i class=\"fa fa-toggle-off text-info fa-2x\"></i> ';
                        } else {
                            return '<i class=\"fa fa-toggle-on text-info fa-2x\"></i> ';
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.tenantCode + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.tenantCode + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>